<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="delto_gripper_3f_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="F1M1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['F1M1']}</param>
                </state_interface>
            </joint>
            <joint name="F1M2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['F1M2']}</param>
                </state_interface>
            </joint>
            <joint name="F1M3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['F1M3']}</param>
                </state_interface>
            </joint>
            <joint name="F1M4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['F1M4']}</param>
                </state_interface>
            </joint>
            <joint name="F2M1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['F2M1']}</param>
                </state_interface>
            </joint>
            <joint name="F2M2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['F2M2']}</param>
                </state_interface>
            </joint>
            <joint name="F2M3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['F2M3']}</param>
                </state_interface>
            </joint>
            <joint name="F2M4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['F2M4']}</param>
                </state_interface>
            </joint>
            <joint name="F3M1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['F3M1']}</param>
                </state_interface>
            </joint>
            <joint name="F3M2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['F3M2']}</param>
                </state_interface>
            </joint>
            <joint name="F3M3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['F3M3']}</param>
                </state_interface>
            </joint>
            <joint name="F3M4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['F3M4']}</param>
                </state_interface>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
